<p class="center">
  <%= link_to '<< Previous Pay Period', report_decrease_offset_path(:id => @user.id) %> |
  <%= link_to 'Today', report_reset_offset_path(:id => @user.id) %> |
  <%= link_to 'Next Pay Period >>', report_increase_offset_path(:id => @user.id) %>
</p>
<%= render :partial => "display_table", :locals => {:user => @user, :back => @back, :front => @front, :entries => @entries } %>