<ul>
  <% authenticated_only do %>
    <li><a href="#">My Jobs</a></li>
    <li><a href="#">My Time Sheets</a></li>
    <li><a href="#">My Load Sheets</a></li>
    <li><a href="#">My Gun Sheets</a></li>
  <% end %>
</ul>