<ul>
  <% if permitted_to? :edit, :private_gun_sheets -%>
    <li><%= link_to "Edit Gun Sheet", edit_private_gun_sheet_path(@gun_sheet) %></li>
  <% end %>
  <% if @gun_sheet.job %>
    <% if permitted_to? :read, :private_jobs -%>
      <li><%= link_to "Show Job", private_job_path(@gun_sheet.job_id) %></li>
    <% end %>
  <% end %>
</ul>