<ul>
  <li><%= link_to "Edit Job", edit_private_job_path(@job) %></li>
  <li><%= link_to "New Time Sheet", new_private_job_time_sheet_path(:job_id => @job.id) %></li>
  <li><a href="#">New Load Sheet</a></li>
  <li><a href="#">New Gun Sheet</a></li>
</ul>