<div id="menu">
  <% has_role?(:admin) do %>
    <%= active_link_to 'Home', private_home_path %> | 
  <% end %>

  <% has_role?(:admin) do %>
    <%= active_link_to 'Directory', directory_path %> | 
  <% end %>

  <% authenticated_only do %>
    <%= link_to "Logout", user_session_path, :method => :delete %>
  <% end %>
</div>