<div id="sidebar">
  <h3>Products</h3>
  <ul>
    <li><a <%= active_menu(11) %>href="/products/cleanosol-thermoplastic">Cleanosol Thermoplastic</a></li>
    <li><a <%= active_menu(14) %>href="/products/glass-bead">Glass Bead</a></li>
    <li><a <%= active_menu(12) %>href="/products/plastiroute-aquaplast">Plastiroute AquaPlast</a></li>
    <li><a <%= active_menu(13) %>href="/products/plastiroute-mma-cold-plastic">Plastiroute MMA Cold Plastic</a></li>
  </ul>
</div>