<div class="span-6 append-bottom">
  <%= form.label :name %><br>
  <%= form.text_field :name, :class => "span-6" %>
</div>

<div class="span-6 append-bottom">
  <%= form.label :abbreviation %><br />
  <%= form.text_field :abbreviation, :class => "span-6" %>
</div>

<br class="clear">