// Place all the styles related to the api/crews controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.calendar {
  width: 900px;
  border: 1px solid grey;
  float: left;
}
.selected-crews {
  li {
    list-style: none;
    margin-bottom: 5px;
    a {
      color: white; padding: 2px 3px;
    }
  }
}
