<div class="container">
  <p><%= form.label :load_sheet_id %><br>
  <%= select ("material_report", "load_sheet_id", @load_sheets.map {|m| [m.label,m.id]}) %></p>

  <p><%= form.label :gun_sheet_id %><br>
  <%= select ("material_report", "gun_sheet_id", @gun_sheets.map {|m| [m.label,m.id]}) %></p>
</div>
