<% for user in @users -%>
<p>
  <bold><%= user.last_name %>, <%= user.first_name %></bold>
  <% if user.cell_phone? -%>
    <br>c <%= user.cell_phone -%>
  <% end -%>
  <% if user.home_phone? -%>
    <br>h <%= user.home_phone %>
  <% end -%>
</p>
<% end -%>