body { background: #fff; }
#header { display: none; }
#sidebar { display: none; }
#breadcrumb { display: none; }
div.span-6 { float: left; width: 25%; }
div.span-10 { float: left; width: 50%; }
hr { display: none;}
.noprint { display: none; }
td, th { text-align: left; }
.right { text-align: right; }