body { background: #fff; }
#header { display: none; }
#sidebar { display: none; }
#breadcrumb { display: none; }
div.span-6 { float: left; width: 25%; }
div.span-10 { float: left; width: 50%; }
hr { display: none;}
.noprint { display: none; }
td, th { text-align: left; }
.right { text-align: right; }
.center { text-align: center; }
a:link, a:visited {background:transparent;font-weight:normal;text-decoration:none; color: #000; }
table { border-collapse:collapse; width: 100%; }
table th { border-bottom: solid 1px #ccc; padding: 3px; margin: 0; }
table td { border-bottom: solid 1px #ccc; padding: 3px; margin: 0; }
table tr { margin: 0; padding: 0; }
.rowodd { }
.roweven { }
.actions { display: none; }
#header { display: none; }
#submenu { display: none; }
a:link:after, a:visited:after {content:"";font-size:100%;}
.print-break { page-break-before: always; }
.print-break td { border-top: solid 1px #ccc; }