/* aaastriping.ca
Yellow      FCD40D
Dark Grey   333333
Med Grey    CCCCCC
Light Grey  E4E4E4
Logo Yellow F5DF00
*/

/* html */
html { overflow-y: scroll; } /* always show scrollbar */
body { background: #F8F8F8; border-top: solid 7px #fcd40d; }
h1, h2, h3 { }
h3 { margin-bottom: 0.4em; }
p, ul, ol, td, th, label { font-size: 14px; }
h1 { font-size: 2.5em; }
a { color: #3344FF; text-decoration: none; }
a:hover { color: #3344FF; text-decoration: underline; }

/* misc */
.jobs .new, .jobs .edit, .jobs .show { float: none; }
.jobs ul { list-style-type: none; margin: 0 0 1.5em 0; padding: 0; }
.guns th { background: none; color: #333; font-weight: bold; }
.relative { position: relative; }
.habtm { list-style-type: none; padding: 0; margin: 0 0 1.5em 0; }
.habtm li { position: relative; }
.habtm input { position: absolute; top: 2px; left: 0; }
.habtm label { font-weight: normal; padding: 0 0 0 20px;}
.habtm label:hover { background: #333; color: #fff; }
.jobs { list-style-type: none; margin: 0 0 1.5em 0; }
.jobs h3 { margin: 0 0 5px 0; }
.tasks {   }
.tasks li { margin-bottom: 1em; }
.total { text-align: right; font-weight: bold; border-top: solid 1px #333; }
.no_list { list-style-type: none; margin: 0 0 1.5em 0; }
.right { text-align: right; }
.center { text-align: center; }
.hidden { display: none; }
.noborder { border: none; }
.inline { display: inline; }
a.plain { background: none; padding: 0; margin: 0; font-weight: normal; }
.normal { font-weight: normal; }
.onlyprint { display: none; }

/* header */
#header { position: relative; }
#header { background: #333; border-top: solid 5px #333; }
#header ol { background: #333; list-style-type: none; margin: 0; padding: 0; }
#header li, #submenu li { margin: 0; padding: 0; display: inline; }
#header a { color: #fff; font-weight: normal; font-size: 13px; text-decoration: none; padding: 3px 8px; display: inline-block; }
#header a.active { background: #666 }
#header a:hover, #submenu a:hover { text-decoration: underline; color: #fcd40d; }
#title { position: absolute; top: 10px; left: 20px; font-size: 25px; font-weight: normal; }
#logout { position: absolute; bottom: 0; right: 5px; }

/* submenu */
#submenu .container { position: relative; }
#submenu { background: #666; border-top: solid 5px #666; }
#submenu ol { list-style-type: none; margin: 0; padding: 0; }
#submenu a { color: #fff; font-weight: normal; font-size: 13px; text-decoration: none; padding: 2px 8px; display: inline-block; margin: 0  10px 0 0; }
#submenu a.active { background: #efefef; color: #000; }

/* breadcrumb */
#breadcrumb { list-style-type: none; margin: 0 0 0 0; color: #666; background: #EFEFEF; border-top: solid 5px #EFEFEF; padding: 0 0 2px 8px; }
#breadcrumb li { display: inline; margin: 0; padding: 0; font-size: 13px; }
#breadcrumb a { color: #666; margin: 0; padding: 0; }
#breadcrumb a:hover { color: #000; text-decoration: underline; }
#container { position: relative; }

/* versions */
#versions { list-style-type: none; margin: -20px 0 0 0; float: right; background: #efefef; padding: 0 10px 5px 0; z-index: 1000; }
#versions li { display: inline; margin-left: 10px;  }

/* job sheet */
#jobsheet h2 { margin-bottom: 0.2em;  }
#material-rate, #equipment-rate { position: absolute; right: 0; top: 36px; }

/* content */
#content { padding: 20px 8px 10px 8px; }
#content .container { padding: 20px 0 0 0; position: relative; margin: 0; }

/* sidebar */
#sidebar ul { list-style-type: none; margin: 0; padding: 0; background: #333; border-left: solid 7px #fcd40d; }
#sidebar li { margin: 0; padding: 0; position: relative;}
#sidebar a { margin: 0; display: block; color: #fff; padding: 2px 0 2px 30px; background: #333 url('/images/header_li_bg.gif') no-repeat; background-position: 12px 50% ; border: none; }
#sidebar ul ul { position: absolute; right: -252px; bottom: 0; width: 245px; font-size: 14px; }
#sidebar a:hover { text-decoration: underline; background: #333 url('/images/header_li_bg.gif') no-repeat; background-position: 12px 50% ; }
#sidebar a.active { background: #000 url('/images/header_li_bg.gif') no-repeat; background-position: 12px 50%; color: #fcd40d;}
#sidebar a.active:hover { background: #000 url('/images/header_li_bg.gif') no-repeat; background-position: 12px 50%; }

/* footer */
#footer { margin: 40px 20px 0 0; }
#footer p { text-align: right; }

/* forms */
input[type="text"], input[type="password"], input.text, input.title, textarea, select { padding: 0.2em; font-size: 14px; margin: 0; font-family:"Helvetica Neue", Arial, Helvetica, sans-serif;}
input[type="checkbox"], input[type="radio"], input.checkbox, input.radio { top:0; }

/* buttons*/
a.button, button, input.button { display:block; float:left; margin: 0.7em 0.5em 0.7em 0; padding:5px 10px 5px 7px; border:1px solid #333; border-top:1px solid #666; border-left:1px solid #666; background-color:#f5f5f5; font-family:"Lucida Grande", Tahoma, Arial, Verdana, sans-serif; font-size:100%; line-height:130%; text-decoration:none; font-weight:bold; color:#565656; cursor:pointer; }
button { width:auto; overflow:visible; padding:4px 10px 3px 7px; }
button[type] { padding:4px 10px 4px 7px; line-height:17px; }
*:first-child+html button[type] { padding:4px 10px 3px 7px; }
button img, a.button img { margin:0 3px -3px 0 !important; padding:0; border:none; width:16px; height:16px; float:none; }
input.button:hover, button:hover, a.button:hover{ background-color:#dff4ff; border:1px solid #c2e1ef; color:#336699; }
a.button:active { background-color:#6299c5; border:1px solid #6299c5; color:#fff; }
body .positive { color:#529214; border-color: #529214; background-color:#E6EFC2;}
body .negative { color:#d12f19; border-color: #d12f19; }
a.positive:hover, button.positive:hover { background-color:#E6EFC2; border:1px solid #C6D880; color:#529214; }
a.positive:active { background-color:#529214; border:1px solid #529214; color:#fff; }
a.negative:hover, button.negative:hover { background-color:#fbe3e4; border:1px solid #fbc2c4; color:#d12f19; }
a.negative:active { background-color:#d12f19; border:1px solid #d12f19; color:#fff; }

/* rails */
.errorExplanation { padding:.8em;margin-bottom:1em;border:2px solid #ddd; background:#FBE3E4;color:#8a1f11;border-color:#FBC2C4;}
.errorExplanation ul { margin-bottom: 0; }
.fieldWithErrors { color: #8a1f11; display: table;}
.error, .notice, .success {padding:5px;margin:1em 0;font-size: 14px;}
.error p {margin:0;color:#8a1f11;}
.notice p {margin:0;color:#514721;}
.success p {margin:0;color:#264409;}

/* tables */
table { }
th { background: #333; color: #fff; font-weight: normal; }
td { border-right: solid 1px #ccc; border-bottom: solid 1px #ccc; ;}
td.actions { border-right: none; }
th, td, caption { padding: 2px 2px 2px 4px; }
tr.even td { background: #ededed; }
table.sortable tr:hover { background: #FEEA86; }

#controls { }
#controls a.button {  }
.rowodd { }
.roweven { background: #EDEDED; }
.sortcol { cursor: pointer; background-repeat: no-repeat; background-position: left center; }
.sortasc { background-image: url('/images/up.gif'); padding: 2px 2px 2px 14px; }
.sortdesc { background-image: url('/images/down.gif'); padding: 2px 2px 2px 14px;  }
.sortdesc, .sortasc { }
th.center { padding: 2px 2px 2px 4px;}
.no-border {  border-bottom: solid 1px #ccc; }
.no-border td { border: 0; }
.no-right-border td { border-right: 0; }

/* controls */
#new { float: right; margin: -25px 0 0 0; }
#new a { color: #529214; margin: 0; display: block; border: none; }
.actions { padding: 0; min-width: 130px; }
.edit, .delete, .show { margin: 0; border: none; font-weight: normal; padding: 0 4px; }
.edit:hover, .delete:hover, .show:hover { text-decoration: none; color: #fff; }
.edit { color: #941494; }
.edit:hover { background: #941494; }
.delete { color: #8a1f11; }
.delete:hover { background: #8a1f11; }
.show { color: #3344FF; }
.show:hover { background: #3344FF; }
.actions .show, .actions .edit, .actions .delete { float: right; }

/* pagination */
.pagination { text-align: center; margin: 0 0 15px 0; font-size: 14px; }
.pagination .current, .pagination .disabled { padding: 1px 4px; }
.pagination a { padding: 1px 4px; margin: 0; }
.pagination a:hover { color: #fff; background: #3344FF; text-decoration: none; }

/* labels */
.office, .admin, .foreman { text-decoration: underline; }
.hint { color: #999; text-align: center; font-size: 12px; margin: 0; }