/* aaastriping.ca
Yellow      FCD40D
Dark Grey   333333
Med Grey    CCCCCC
Light Grey  E4E4E4
Logo Yellow F5DF00
*/

/* html */
html { overflow-y: scroll; } /* always show scrollbar */
body { background: #efefef; margin: 20px; }
h1, h2, h3 { }
p, ul, ol { }
h1 { font-size: 2.5em; }
h4 { }

/* blueprint overries */

/* general */
#breadcrumb { list-style-type: none; margin: 0 0 20px 0; }
#breadcrumb li { display: inline; margin-right: .3em; }

/* header */
#header { margin-bottom: 20px; }
#header ul { list-style-type: none; margin: 0; }
#header li { display: inline; margin-right: 1.5em; }

/* footer */
#footer { margin: 40px 0 0 0; }

/* forms */
input[type="text"], input[type="password"], input.text, input.title, textarea { padding: 0.2em; font-size: 1em; margin: 0;}
select { padding: 0.1em; font-size: 1em; margin: 0;}
input[type="checkbox"], input[type="radio"], input.checkbox, input.radio { top:0; }

/* buttons*/
a.button, button, input.button { display:block; float:left; margin: 0.7em 0.5em 0.7em 0; padding:5px 10px 5px 7px; border:1px solid #dedede; border-top:1px solid #eee; border-left:1px solid #eee; background-color:#f5f5f5; font-family:"Lucida Grande", Tahoma, Arial, Verdana, sans-serif; font-size:100%; line-height:130%; text-decoration:none; font-weight:bold; color:#565656; cursor:pointer; }
button { width:auto; overflow:visible; padding:4px 10px 3px 7px; }
button[type] { padding:4px 10px 4px 7px; line-height:17px; }
*:first-child+html button[type] { padding:4px 10px 3px 7px; }
button img, a.button img { margin:0 3px -3px 0 !important; padding:0; border:none; width:16px; height:16px; float:none; }
input.button:hover, button:hover, a.button:hover{ background-color:#dff4ff; border:1px solid #c2e1ef; color:#336699; }
a.button:active { background-color:#6299c5; border:1px solid #6299c5; color:#fff; }

body .positive { color:#529214; }
body .negative { color:#d12f19; }
a.positive:hover, button.positive:hover { background-color:#E6EFC2; border:1px solid #C6D880; color:#529214; }
a.positive:active { background-color:#529214; border:1px solid #529214; color:#fff; }
a.negative:hover, button.negative:hover { background-color:#fbe3e4; border:1px solid #fbc2c4; color:#d12f19; }
a.negative:active { background-color:#d12f19; border:1px solid #d12f19; color:#fff; }

/* rails */
.errorExplanation { padding:.8em;margin-bottom:1em;border:2px solid #ddd; background:#FBE3E4;color:#8a1f11;border-color:#FBC2C4;}
.errorExplanation ul { margin-bottom: 0; }
.fieldWithErrors { color: #8a1f11;   display: table;}
