<div class="span-12">
  <h3>Changes</h3>
  <ul>
    <li>2009-03-02
      <ul>
        <li>load_sheets</li>
        <li>load_entries</li>
        <li>'Edit' button graphic + addition to all list views</li>
        <li>gun_categories</li>
      </ul>
    </li>
    <li>2009-03-02
      <ul>
        <li>time task entry to dropdown</li>
        <li>time sheet start/stop changed to check in / check out</li>
        <li>@time_sheet.hours for total time spent</li>
        <li>show @time_sheet</li>
        <li>show @job</li>
        <li>edit @time_sheet</li>
      </ul>
    </li>
    <li>2009-03-01
      <ul>
        <li>time sheets</li>
        <li>time entries</li>
        <li>time tasks</li>
      </ul>
    </li>
    <li>2009-02-26
      <ul>
        <li>CRUD locations</li>
        <li>Additional levels in breadcrumbs</li>
        <li>CRUD jobs</li>
        <li>CRUD time_task_categories</li>
        <li>CRUD time_note_categories</li>
      </ul>
    </li>
    <li>2009-02-25
      <ul>
        <li>New design for desktop interface</li>
        <li>Pretty icons :) :)</li>
        <li>Heroku setup</li>
        <li>CRUD equipment</li>
        <li>CRUD manufacturers</li>
        <li>CRUD materials</li>
        <li>CRUD job completion levels</li>
      </ul>
    </li>
    <li>2009-02-18
      <ul>
        <li>CRUD clients</li>
      </ul>
    </li>
  </ul>
</div>

<div class="span-6">
  <h3>Todo</h3>
  <ol>
    <li>Gun Sheets</li>

    <li>Mobile show job</li>
    <li>Mobile new timesheet</li>
    <li>Deploy</li>
    <li>My Time Sheets</li>
    <li>Events</li>
    <li>@obj.locked? for time sheets, time entries, time tasks</li>
    <li>Flag unlocked time sheets >48hrs old</li>
    <li>@obj.selectable? for users, jobs, equipment, materials, locations</li>
    <li>created_by and updated_by</li>
    <li>times sheet: editing: hours adjustment is loading 0.0 instead of user's value</li>
    <li>will_paginate time sheets, jobs</li>
  </ol>
</div>

<div class="span-6 last">
  <h3>Questions</h3>
  <ol>
    <li>Do you want to track which vehicle a Gun Sheet is used for?</li>
    <li>Requirement of Tote Qty, Tote #, Litre/Tote</li>
    <li>Do you want the user to check off the location(s) that apply to a timesheet? These are populated by the Job related to it.</li>
  </ol>
</div>