<div class="span-12">
<h3>Changes</h3>
<ul>
  <li>2009-02-25
    <ul>
      <li>New design for desktop interface</li>
      <li>Pretty icons :) :)</li>
      <li>Heroku setup</li>
    </ul>
  </li>
</ul>
</div>

<div class="span-6">
<h3>Todo</h3>
<ol>
  <li>Equipment</li>
  <li>Manufacturers</li>
  <li>Materials</li>
  <li>Completions</li>
  <li>Locations</li>
  <li>Jobs</li>
  <li>Time Sheets</li>
  <li>Gun Sheets</li>
  <li>Load Sheets</li>
  <li>Events</li>
</ol>
</div>