<div class="span-6 append-1">
  <h2>&nbsp;</h2>
  <div id="sidebar">
    <%= render :partial => 'menus/dashboard_menu', :layout => false %>
  </div>
</div>

<div class="span-6">
  <h2>Active Jobs</h2>
  <ul class="jobs">
  <%- @jobs.each do |job| -%>
    <li>
      <h3>Job #<%= job.id -%></h3>
      <ul>
        <li><%= link_to "Show Details", private_job_path(job) %></li>
        <li><%= link_to "Submit Time Sheet", new_private_job_time_sheet_path(:job_id => job.id) %></li>
        <li><a href="#">Submit Load Sheet</a></li>
        <li><a href="#">Submit Gun Sheet</a>
      </ul>
    </li>
  <%- end -%>
  </ul>
</div>

<div class="span-11 last">
  <h2>History</h2>
</div>