<div class="span-12">
  <h3>Changes</h3>
  <ul>
    <li>2009-02-26
      <ul>
        <li>CRUD locations</li>
        <li>Additional levels in breadcrumbs</li>
        <li>CRUD jobs</li>
      </ul>
    </li>
    <li>2009-02-25
      <ul>
        <li>New design for desktop interface</li>
        <li>Pretty icons :) :)</li>
        <li>Heroku setup</li>
        <li>CRUD equipment</li>
        <li>CRUD manufacturers</li>
        <li>CRUD materials</li>
        <li>CRUD job completion levels</li>
      </ul>
    </li>
    <li>2009-02-18
      <ul>
        <li>CRUD clients</li>
      </ul>
    </li>
  </ul>
</div>

<div class="span-6">
  <h3>Todo</h3>
  <ol>
    <li>Time Sheets</li>
    <li>Gun Sheets</li>
    <li>Load Sheets</li>
    <li>Events</li>
    <li>@obj.selectable? for users, jobs, equipment, materials, locations</li>
  </ol>
</div>

<div class="span-6 last">
  <h3>Questions</h3>
  <ol>
    <li>Requirement of Tote Qty, Tote #, Litre/Tote</li>
  </ol>
</div>