<% content_for :breadcrumb do %>
  <ul id="breadcrumb">
    <li><%= link_to 'Dashboard', private_home_path %></li>
    <li>»</li>
    <li><%= @page_title %></li>
  </ul>
<% end %>

<div class="span-5">
  <div id="sidebar">
    <%= render :partial => 'menus/settings_menu', :layout => false %>
  </div>
</div>