<div class="container">
<% content_for :breadcrumb do %>
  <ul id="breadcrumb">
    <li><%= link_to 'Dashboard', private_home_path %></li>
    <li>»</li>
    <li><%= @page_title %></li>
  </ul>
<% end %>

<div class="span-6 append-1">
  <div id="sidebar">
    <%= render :partial => 'menus/settings_menu', :layout => false %>
  </div>
</div>

<div class="span-17 last">
  <p>These forms allow you to create, edit, and remove choices that users are provided when filling out time sheets, gun sheets, and load sheets.</p>
</div>
    </div>