<%
@title = "Plastiroute AquaPlast Durable Marking"
@description = "Plastiroute Aquaplast product information from AAA Striping &amp; Seal Coating Service."
@keywords = "plastiroute, aquaplast, "
@content_classes = " sidebarpush"
@mainmenu = 4
@sidebarmenu = 12
%>

<p>AquaPlast is considered a waterborne plastic mass, for both thick and thin layer plain line markings and has been designed for road surfaces which are often or continuously passed over. This traffic marking is environmentally compatible.</p>

<h3>Product Information</h3>

<ul>
  <li>Waterborne durable pavement marking material</li>
  <li>Available in white or yellow</li>
  <li>Solvent Free</li>
  <li>1 Component</li>
  <li>Free of reticulation agents and heavy metals</li>
  <li>Classified as a non toxic</li>
  <li>Classified as a non toxic by the Federal Health Office, Berne, Switzerland</li>
</ul>

<h3>Package Information</h3>

<p>Available in 30.0 Kg, 10.0 Kg Containers</p>

<%= render :partial => 'menus/products', :layout => false %>