<%
@title = "Products"
@description = "Summary of products that are supplied by AAA Striping &amp; Seal Coating Service."
@keywords = "products, cleanosol, plastiroute, thermoplastic, aquaplast, mma cold plastic, "
@content_classes = " sidebarpush"
@mainmenu = 4
%>

<p>We proudly sell Cleanosol Thermoplastic, Glass Bead, Plastiroute AquaPlast and Plastiroute MMA Cold Plastic. Products are available in a variety of quantities--please contact us directly for information or a quote.</p>

<%= render :partial => 'menus/products', :layout => false %>