<%
@title = "Procedure for Removing Paint From Cars"
@description = "Detailed instructions for removing road stripe line paint from a vehicle."
@keywords = "paint, car, procedure, line paint, wash, "
@mainmenu = 7
%>

<p id="error">Do not scrub with a solvent or scouring cleanser as this will damage the car's finish!</p>

<p>As soon as possible after getting paint from road stripes on a vehicle, wash the vehicle at a pressure car wash.  This will loosen and remove most of the paint unless it has dried for more than a day.</p>

<p>If the car wash does not remove the paint, allow the water to dry off the vehicle.  Spray the paint residue with WD-40 and allow the WD-40 stay on the area for 1-2 hours and rewash the vehicle.  The WD-40 will soften the traffic paint without hurting the vehicle finish.  If there is a heavy concentration, repeat the procedure.</p>

<p>For heavy accumulations or paint that has dried for several days, apply a liberal coating of Vaseline petroleum jelly to the dried traffic paint and allow to stay overnight. Take vehicle to a pressure car wash and wash.  This should remove most of the traffic paint.  If not, repeat the procedure.</p>

<p>After cleaning the paint away, apply a good wax to the vehicle’s finish.  Wax should never remove any lasting signs of the traffic paint.</p>

<p>Wheel wells are very difficult to remove the paint from since they are normally a flat finish.  Apply a liberal coating of Vaseline to the area and leave for several days and then pressure wash.  Applying an alcohol such as Solox or Rubbing Alcohol to the area in the wheel well will help soften any residue left after the Vaseline.  Again, DO NOT SCRUB! Just apply with a very wetted rag or sponge.</p>