<%
@title = "Fast Dry Paint with the Twin Dry System"
@description = "Fast Dry Paint / Twin Dry System service information from AAA Striping &amp; Seal Coating Service."
@keywords = "fast dry, twin dry system, paint, "
@content_classes = " sidebarpush"
@mainmenu = 3
@sidebarmenu = 19
%>

<p>Twin Dry is a patented activator system that accelerates the dry time of waterborne paints thus reducing the frequencies of tracking and washouts. This system can be used during unstable weather conditions due to its rapid waterproofing characteristics.</p>

<p>Twin Dry system has the ability of drying a freshly painted line in under one minute. If you would like a demonstration of this revolutionary system, do not hesitate to call.</p>

<%= render :partial => 'menus/services', :layout => false %>