<%
@title = "Seal Coating"
@description = "Seal Coating service information from AAA Striping &amp; Seal Coating Service."
@keywords = "seal coating, asphalt, "
@content_classes = " sidebarpush"
@mainmenu = 3
@sidebarmenu = 18
%>

<p>The purpose of Seal Coating is to protect the asphalt from the results of aging, sun, as well as the harmful effects of chemical spills (eg. oil and gasoline). Furthermore, it seals the asphalt pavement, preventing the oxidation and erosion of the top layer. On older pavements, seal coating replaces fine particles lost from the asphalt surface due to oxidation. It seals the small cracks that can turn into large cracks and helps prevent water from seeping down to the base of the material.</p>

<p>Moreover, seal coating provides an attractive black surface that is ideal for painting lines and other markings. It also leaves a smooth, clean surface ideal for sweeping, resulting in lower cleaning costs.</p>

<%= render :partial => 'menus/services', :layout => false %>