<%
@title = "MMA Cold Plastic Markings"
@description = "MMA Cold Plastic Marking service information from AAA Striping &amp; Seal Coating Service."
@keywords = "mma cold plastic, plastiroute, "
@content_classes = " sidebarpush gallerypull"
@mainmenu = 3
@sidebarmenu = 17
%>

<p>MMA Cold Plastic has proven to be the strongest durable product available. A great feature with this material is that it can be applied over existing Cold Plastic. The Plastiroute product we supply has a proven track record in Switzerland, Germany, Poland, Romania, Hungary, Russian, and Canada. Furthermore, this product is solvent free with no toxic heavy metals and proven to be environmentally friendly.</p>

<p>To apply MMA Cold Plastic markings, AAA Striping uses a specialized Durable truck that can hold 2000L of white cold plastic and 1300 L of yellow cold plastic. This truck can install plastic markings in a variety of forms: Extruded form, Ribbon form, Agglomerate structured form, and inlaid form.</p>

<p>Characteristics about our Plastiroute MMA Cold Plastic:</p>

<ul>
  <li>Excellent night visibility</li>
  <li>Skid resistant</li>
  <li>Excellent levels of adhesion</li>
  <li>Glass bead retention provides prolonged durability</li>
  <li>Unaffected by extremes of temperatures.</li>
  <li>Applied in ways of spray, ribbon, full line, agglomerate structure, pull box, and stenciled message markings</li>
  <li>Applied in cold temperatures</li>
</ul>

<div id="gallery">
  <h3>Photos</h3>
  <ul>

    <li>
      <a rel="lightbox[line]" href="/images/photos/coldplastic/coldplastic_01.jpg">
        <img src="/images/photos/coldplastic/coldplastic_01_thumb.jpg" height="70" width="70">
      </a>
    </li>

    <li class="last">
      <a rel="lightbox[line]" href="/images/photos/coldplastic/coldplastic_02.jpg">
        <img src="/images/photos/coldplastic/coldplastic_02_thumb.jpg" height="70" width="70">
      </a>
    </li>

    <li>
      <a rel="lightbox[line]" href="/images/photos/coldplastic/coldplastic_03.jpg">
        <img src="/images/photos/coldplastic/coldplastic_03_thumb.jpg" height="70" width="70">
      </a>
    </li>

    <li class="last">
      <a rel="lightbox[line]" href="/images/photos/coldplastic/coldplastic_04.jpg">
        <img src="/images/photos/coldplastic/coldplastic_04_thumb.jpg" height="70" width="70">
      </a>
    </li>

    <li>
      <a rel="lightbox[line]" href="/images/photos/coldplastic/coldplastic_05.jpg">
        <img src="/images/photos/coldplastic/coldplastic_05_thumb.jpg" height="70" width="70">
      </a>
    </li>

  </ul>
</div>

<%= render :partial => 'menus/services', :layout => false %>