<%
@title = "Hot Thermoplastic Markings"
@description = "Hot Thermoplastic Markings service information from AAA Striping &amp; Seal Coating Service."
@keywords = "hot thermoplastic, markings, "
@content_classes = " sidebarpush gallerypull"
@mainmenu = 3
@sidebarmenu = 14
%>

<p>New to our assortment of services is the installation of hot thermoplastic markings. This marking can be applied on surface, extruded, or inlaid.</p>

<p>To maximize efficiency, our equipment is outfitted with high output diesel kettle burners that have increased insulation allowing greater heat retention. Furthermore, this decreases fuel consumption and allows heat to be spread evenly throughout.</p>

<p>If this service interests you, please <a href="/contact">contact us</a>.</p>

<div id="gallery">
  <h3>Photos</h3>
  <ul>

    <li>
      <a rel="lightbox[line]" href="/images/photos/thermoplastic/thermoplastic_01.jpg">
        <img src="/images/photos/thermoplastic/thermoplastic_01_thumb.jpg" height="70" width="70">
      </a>
    </li>

    <li class="last">
      <a rel="lightbox[line]" href="/images/photos/thermoplastic/thermoplastic_02.jpg">
        <img src="/images/photos/thermoplastic/thermoplastic_02_thumb.jpg" height="70" width="70">
      </a>
    </li>

    <li>
      <a rel="lightbox[line]" href="/images/photos/thermoplastic/thermoplastic_03.jpg">
        <img src="/images/photos/thermoplastic/thermoplastic_03_thumb.jpg" height="70" width="70">
      </a>
    </li>

    <li class="last">
      <a rel="lightbox[line]" href="/images/photos/thermoplastic/thermoplastic_04.jpg">
        <img src="/images/photos/thermoplastic/thermoplastic_04_thumb.jpg" height="70" width="70">
      </a>
    </li>

    <li>
      <a rel="lightbox[line]" href="/images/photos/thermoplastic/thermoplastic_05.jpg">
        <img src="/images/photos/thermoplastic/thermoplastic_05_thumb.jpg" height="70" width="70">
      </a>
    </li>

    <li class="last">
      <a rel="lightbox[line]" href="/images/photos/thermoplastic/thermoplastic_06.jpg">
        <img src="/images/photos/thermoplastic/thermoplastic_06_thumb.jpg" height="70" width="70">
      </a>
    </li>


  </ul>
</div>

<%= render :partial => 'menus/services', :layout => false %>