<%
@title = "Line Painting"
@description = "AquaFlex Intermix service information from AAA Striping &amp; Seal Coating Service."
@keywords = "line painting, pavement, "
@content_classes = " sidebarpush gallerypull"
@mainmenu = 3
@sidebarmenu = 15
%>

<p>Starting off painting only parking lot lines, tennis courts, and tracks, AAA Striping has come a long way since its first job in 1981. Now, having the capability to apply 800 line kilometers of paint per day with its experienced personnel, the company has become one of Western Canada´;s leading road marking companies.</p>

<p>AAA Striping offers line painting for Federal, Provincial, Civic, Municipal, and Capital projects.</p>

<h3>Line Painting Projects</h3>
<p>Some of the locations we have performed line painting on include:</p>

<ul>
  <li>Alberta´s CMA´s 17, 18, 19, 20, 21, 22, 24, 25, 26, 29.</li>
  <li>Alberta Municipalities: Leduc, Wetaskiwin, Ft. Saskatchewan, Lacombe, Brazaeu, M.D. Rocky View, Hinton, Sturgeon, Strathcona M.D. Big Lakes</li>
  <li>Federal: Parks Canada, North West Territories</li>
  <li>Capital: Hwy 63 Hwy 16, Vermillion, Hwy 43 by Fox Cre</li>
</ul>

<div id="gallery">
  <h3>Photos</h3>
  <ul>

    <li>
      <a rel="lightbox[line]" href="/images/photos/linepaint/linepaint_01.jpg" title="Line Painting Truck">
        <img src="/images/photos/linepaint/linepaint_01_thumb.jpg" height="70" width="70" alt="Line painting truck">
      </a>
    </li>

    <li class="last">
      <a rel="lightbox[line]" href="/images/photos/linepaint/linepaint_02.jpg" title="Line Painting Truck">
        <img src="/images/photos/linepaint/linepaint_02_thumb.jpg" height="70" width="70" alt="Thumbnail of our line painting truck in action">
      </a>
    </li>

  </ul>
</div>

<%= render :partial => 'menus/services', :layout => false %>