<%
@title = "Services"
@description = "Summary of services that are offered by AAA Striping &amp; Seal Coating Service."
@keywords = "pavement, line painting, line removal, wet night visibility, "
@content_classes = " sidebarpush gallerypull"
@mainmenu = 3
%>

<p>We offer a wide variety of services to meet almost any pavement need. Line painting, line removal, parking lot maintenance, and a wide variety of wet night visibility products. </p>

<p>Do not hesitate to contact us if you have questions or require a quote.</p>

<div id="gallery">
  <h3>Photos</h3>
  <ul>

    <li>
      <a rel="lightbox[line]" href="/images/photos/hwy63/hwy63_01.jpg">
        <img src="/images/photos/hwy63/hwy63_01_thumb.jpg" height="70" width="70">
      </a>
    </li>

    <li class="last">
      <a rel="lightbox[line]" href="/images/photos/hwy63/hwy63_02.jpg">
        <img src="/images/photos/hwy63/hwy63_02_thumb.jpg" height="70" width="70">
      </a>
    </li>

    <li>
      <a rel="lightbox[line]" href="/images/photos/hwy63/hwy63_03.jpg">
        <img src="/images/photos/hwy63/hwy63_03_thumb.jpg" height="70" width="70">
      </a>
    </li>

    <li class="last">
      <a rel="lightbox[line]" href="/images/photos/hwy63/hwy63_04.jpg">
        <img src="/images/photos/hwy63/hwy63_04_thumb.jpg" height="70" width="70">
      </a>
    </li>

  </ul>
</div>

<%= render :partial => 'menus/services', :layout => false %>