<%
@title = "DropOnLineTM Hot Thermoplastic"
@description = "DropOnLineTM Hot Thermoplastic information from AAA Striping &amp; Seal Coating Service."
@keywords = "wet, night, visibility, droponline, thermoplastic, "
@content_classes = " sidebarpush"
@mainmenu = 3
@sidebarmenu = 20
%>

<p>DropOnLineTM is a patented, thermoplastic, road-marking system.  The road marking is designed as points patterned in such a way as to create a high retro reflection value.</p>

<h2>Advantages</h2>

<ul>
  <li>Enhanced visibility during fog, rain and night time driving</li>
  <li>Excellent durability against wear and tear, even during winter maintenance activities (snow plows)</li>
  <li>Very strong bond on asphalt surfaces</li>
  <li>Unaffected by high climatic changes</li>
  <li>Impervious to vehicle fuels and thawing salts</li>
  <li>High economic value</li>
</ul>

<%= render :partial => 'menus/services', :layout => false %>