<% ids = @crews.map(&:id) %>
<div style="float: left;" class="selected-crews">
  <ul>
    <% @crews.each do |crew| %>
      <li class="one-crew" style="background-color: <%= crew.color %>; "data-ids="/api/crews/<%= crew.id %>/jobs">
        <%= link_to "Crew ##{crew.id} #{crew.name}", private_crew_path(crew) %>
      </li>
    <% end %>
  </ul>

</div>
<div class="calendar">
  <div id="select-crews-calendar"></div>
</div>
<div  style="clear: both;"></div>
