<div class="span-6 append-bottom">
  <%= form.label :name, "Name" %><br>
  <%= form.text_field :name, :class => "span-6" %>
</div>

<div class="span-6 append-bottom">
  <%= form.label :position, "Display Position" %><br>
  <%= form.text_field :position, :class => "span-3" %>
</div>

<br class="clear">