<p>
  <%= form.label :gun_sheets %><br>
  <table class="sortable">
    <tr>
      <th></th>
      <th class="center number">#</th>
      <th class="span-2 center">Started</th>
      <th class="number">Location</th>
      <th class="number">Created By</th>
      <th class="number">Truck</th>
    </tr>
  </table>
</p>
