/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require ui-lightness/jquery-ui-1.10.3.custom
 *= require bootstrap-dropdown
 *= require fullcalendar
 *= require jquery.minicolors
 *= require api/crews
 *= require jquery-ui/autocomplete
 *= require private/comments
 *= require private/job_estimates
 *= require_self
 */

small {
  font-size: 50%;
}

/* css for timepicker */
.ui-timepicker-div .ui-widget-header { margin-bottom: 8px; }
.ui-timepicker-div dl { text-align: left; }
.ui-timepicker-div dl dt { height: 25px; margin-bottom: -25px; }
.ui-timepicker-div dl dd { margin: 0 10px 10px 65px; }
.ui-timepicker-div td { font-size: 90%; }
.ui-tpicker-grid-label { background: none; border: none; margin: 0; padding: 0; }

.ui-timepicker-rtl{ direction: rtl; }
.ui-timepicker-rtl dl { text-align: right; }
.ui-timepicker-rtl dl dd { margin: 0 65px 10px 10px; }

.ui-datepicker-current { display: none; }
.monthpicker {
  .ui-datepicker-calendar, .ui-datepicker-current, .ui-datepicker-buttonpane {
    display: none !important;
  }
  .ui-datepicker{
    margin: 0 auto;
    padding-bottom: 0.2em;
  }
}
[data-role='show-monthpicker'] {
  border-bottom: 1px dotted #3344FF;
  text-decoration: none !important;
}

.ui-datepicker{
  th {
    background: none;
    color: #333333;
  }
  a {
    text-align: center !important;
  }
}

#header .dropdown {
  &:hover ul.dropdown-menu {
    display: block;
    margin: 0;
  }
  .dropdown-menu > li {
    display: block !important;
    & > a {
      color: #333333;
      display: block !important;
      padding: 3px 20px !important;
      &:hover {
        color: #fcd40d;
        background: none;
      }
      &.active{
        background: none;
        font-weight: bold;
      }
    }
  }

  .caret {
    border-top-color: #ffffff;
    border-bottom-color: #ffffff;
  }
}

#header_container {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 2000;
}

#jobs_search_form.affix {
  position: fixed;
  top: 65px;
  right: 10px;
  padding: 10px;
  background-color: #FFF;
  border: 3px solid #fcd40d;
  z-index: 1000;
  table { margin-bottom: 0; }
}

body {
  padding-top: 51px;
}

.ar_error {
  color: red;
  font-weight: bold;
  text-align: center;
  white-space: nowrap;
  &.jobs_index {
    font-size: 110%;
  }
  &.jobs_show {
    margin: 0 20px;
  }
}

.equipment-green  { background-color: #DFF2BF; color: #4F8A10; }
.equipment-blue   { background-color: #BDE5F8; color: #00529B; }
.equipment-yellow { background-color: #FEEFB3; color: #9F6000; }
.equipment-purple { background-color: #f06ddc; color: #750e76; }

#daily_report_loaded_input label {
  font-weight: normal;
}

#ui-datepicker-div {
  z-index: 3000 !important;
}

.text-emphasize {
  font-size: 150%;
  font-weight: bold;
  color: green;
}

.fc-day-header {
  background: #6E6E6E;
  font-size: 20px;
}

#my-draggable{width: 500px;}
.job_item{
  margin: 2px;
  cursor: move;
  cursor: -webkit-grab;
  cursor: -moz-grabbing;
  background-color: rgb(239, 247, 255)
}
.pull-right {
  float: right;
  a{text-decoration: none;color:#fff;}
}

.equipment-links {
  width:280px;float:right;border:0px;margin-top:15px;
  td {
    border-bottom: 0px;
  }
}
