/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require ui-lightness/jquery-ui-1.10.3.custom
 *= require bootstrap-dropdown
 *= require_self
 */

/* css for timepicker */
.ui-timepicker-div .ui-widget-header { margin-bottom: 8px; }
.ui-timepicker-div dl { text-align: left; }
.ui-timepicker-div dl dt { height: 25px; margin-bottom: -25px; }
.ui-timepicker-div dl dd { margin: 0 10px 10px 65px; }
.ui-timepicker-div td { font-size: 90%; }
.ui-tpicker-grid-label { background: none; border: none; margin: 0; padding: 0; }

.ui-timepicker-rtl{ direction: rtl; }
.ui-timepicker-rtl dl { text-align: right; }
.ui-timepicker-rtl dl dd { margin: 0 65px 10px 10px; }

.ui-datepicker-current { display: none; }

#header .dropdown {
  &:hover ul.dropdown-menu {
    display: block;
    margin: 0;
  }
  .dropdown-menu > li {
    display: block !important;
    & > a {
      color: #333333;
      display: block !important;
      padding: 3px 20px !important;
      &:hover {
        color: #fcd40d;
        background: none;
      }
      &.active{
        background: none;
        font-weight: bold;
      }
    }
  }

  .caret {
    border-top-color: #ffffff;
    border-bottom-color: #ffffff;
  }
}

#jobs_search_form.affix {
  position: fixed;
  top: 10px;
  right: 10px;
  padding: 10px;
  background-color: #FFF;
  border: 3px solid #fcd40d;
  table { margin-bottom: 0; }
}
