p, ul, ol, td, th, label { font-size: 12px; }

body#mobile { background: #fff; margin: 10px; }
#home { text-align: center; }
#menu { margin-bottom: 1.5em; }
#mobile h1 { border-bottom: 0; }
#mobile #new_user_session { text-align: left; width: 220px; margin: 0 auto; }
#mobile #new_user_session input { margin: 0; }

table { }
th { background: #333; color: #fff; font-weight: normal; }
th, td, caption { padding: 2px 2px 2px 4px; }
tr.even td { background: #ededed; }
.actions { padding: 0; }
.right { text-align: right; }
.center { text-align: center; }

input[type="text"], input[type="password"], input.text, input.title, textarea, select { padding: 0.2em; font-size: 12px; margin: 0; font-family:"Helvetica Neue", Arial, Helvetica, sans-serif;}
input[type="checkbox"], input[type="radio"], input.checkbox, input.radio { top:0; }

.office, .admin, .foreman { text-decoration: underline; }

.span-1, .span-2, .span-3, .span-4, .span-5, .span-6, .span-7, .span-8, .span-9, .span-10, .span-11, .span-12, .span-13, .span-14, .span-15, .span-16, .span-17, .span-18, .span-19, .span-20, .span-21, .span-22, .span-23, .span-24 {
  width: 100%;
  float: none;
}

#daily_report_loaded_input label {
  font-weight: normal;
}
