<%
@page_title = "About"
@description = "About AAA Striping &amp; Seal Coating Services. Provider of line painting services in Edmonton, Alberta."
@keywords = "line painting, plastiroute, edward andrews, kwame andrews, dorian andrews, "
@content_classes = " sidebarpush"
@mainmenu = 2
%>

<p>A division of Swerdna Services Ltd., AAA Striping was developed in the summer of 1981. Founder Edward Andrews developed his business with the help of his two sons, Kwame and Dorian. Even before they could walk, they were assisting their father in carrying out his vision and developing the family business to become what it is today.</p>

<p>AAA Striping is now capable of running 5 line painting crews. With 30 employees, an in-house mechanic, and modern equipment, the company continues to increase its capacity to serve its customers and industry. In 2002, Edward confidently stepped aside to allow his eldest son Kwame to manage the business and maintain its reputation as a reliable, quality, road marking company.</p>

<p>With 14 years of pavement marking experience, coupled with a Bachelor of Business Management degree from the University of Lethbridge, one can be rest assured that AAA Striping has a bright future ahead. Through its constant innovation and pioneering technology over the past 5 years, AAA has continuously improved the safety of Alberta's roads. Its partnership with European conglomerate Plastiroute has enabled its access
to a wide range of proven road marking products.</p>

<p>Since 2006, AAA Striping has been Plastiroute's representative in North America with exclusive rights to its products. This partnership has also allowed the company to supply and install durable markings on large scale projects. Furthermore, having the only MMA Cold Plastic Combination truck in Western Canada has made AAA Striping more versatile and efficient in completing projects for its customers. With its experience, products and superior service, AAA Striping has secured its place as a premier road marking contractor in Canada for many years to come.</p>

<div id="sidebar">
  <h3>Our Mission</h3>
  <p id="mission">"To Be the Contractor<br>&amp; Employer of<br><strong>First Choice</strong>"</p>
  <p><img src="/images/swerdna_family.jpg" height="151" width="199" alt="One of the line painting trucks in service at AAA Striping" title="One of the line painting trucks in service at AAA Striping"></p>
</div>
