<%
@description = "Provider of line painting, line removal, seal coating, and other services. Located in Edmonton, Alberta."
@keywords = "line painting, line removal, seal coating, "
@content_classes = ""
@mainmenu = 1
%>

<h1>AAA Striping &amp; Seal Coating Service</h1>

<p>AAA Striping is based in Edmonton, Alberta and specializes in pavement markings since 1981. In addition to our pavement services, we provide <a href="/services/line-removal">line removal</a> and <a href="/services/seal-coating">seal coating</a>. We invite you to browse the other <a href="/services">great services we offer</a>.</p>

<p>Our quality assurance program ensures that our work meets all the specifications set out by our customer(s). Moreover, we put great emphasis in providing consistent quality workmanship and continuous improvement.</p>

</div><!-- content -->

<div id="subcontent" class="clearfix">
  <div class="item">
    <a href="/services/line-painting" id="linepainting">
      <h2>Line Painting</h2>
    </a>
  </div>

  <div class="item">
    <a href="/services/mma-durables" id="mmadurables">
      <h2>MMA Durables</h2>
    </a>
  </div>

  <div class="item">
    <a href="/services/wet-night-visibility" id="agglomerate">
      <h2>Wet Night Visibility</h2>
    </a>
  </div>

  <div class="item last">
    <a href="/services/line-removal" id="lineremoval">
      <h2>Line Removal</h2>
    </a>
  </div>
</div><!-- subcontent -->

<div>