<%
@page_title = "Plastiroute MMA Cold Plastic"
@description = "Plastiroute MMA Cold Plastic product information from AAA Striping &amp; Seal Coating Service."
@keywords = "plastiroute, mma cold plastic, plr, "
@content_classes = " sidebarpush"
@mainmenu = 4
@sidebarmenu = 13
%>

<p>PLR Cold Plastic traffic marking is highly suitable for permanent marking of concrete and asphalt surfaces with high traffic load. This product is a 2-component system that can be used as a normal durable marking application.</p>

<h3>Material Safety Data Sheet</h3>
<p>Download the <a href="/pdfs/MSDS_PLR_Cold_Plastic.pdf">Plastiroute Cold Plastic The Material Safety Data Sheet</a> as a PDF document.</p>

<h3>Product Information</h3>

<ul>
  <li>Available in a various spectra of color tones</li>
  <li>Solvent Free</li>
  <li>Pure Acrylic binder system</li>
  <li>No toxic heavy metals or composition with said metals</li>
  <li>Dry time CP< 20 minutes, CSP< 10 minutes by 20 Degrees Celsius</li>
  <li>Application temperature range -5 - 50 degrees Celsius</li>
  <li>Activated with BPO (powder or Liquid)</li>
</ul>

<h3>Package Information</h3>

<p>Available in 350.0 Kg, 38.8 Kg, 28.0 Kg Containers.</p>

<%= render :partial => 'menus/products', :layout => false %>