<%
@page_title = "Cleanosol Thermoplastic"
@description = "Cleanosol Thermoplastic product information from AAA Striping &amp; Seal Coating Service."
@keywords = "cleansol, thermoplastic, "
@content_classes = " sidebarpush"
@mainmenu = 4
@sidebarmenu = 11
%>

<p>Cleanosol offers thermoplastic products for various application methods. The aim of development activity is to produce materials as rapidly as possible that can be subjected to application tests on a road. Our laboratory environment houses a multitude of advanced testing equipment. As everyone who works with road markings knows, the best testing environment is the real world--on a road.</p>

<h3>Material Safety Data Sheet</h3>
<p>Download the <a href="/pdfs/MSDS_Series_31_Thermoplastic.pdf">Cleanosol Thermoplastic The Material Safety Data Sheet</a> as a PDF document.</p>

<h3>Product Information</h3>

<ul>
  <li>Available in a various spectra of color tones</li>
  <li>Ability to formulate thermoplastic to meet any specifications</li>
  <li>Thermoplastic products for various application methods</li>
  <li>Preformed thermoplastic markings</li>
</ul>

<h3>Package Information</h3>

<ul>
  <li>Thermoplastic block in meltable packaging 10 kg</li>
  <li>Thermoplastic powder in meltable packaging 18,5 kg.</li>
  <li>Thermoplastic powder in big bags 450 kg.</li>
</ul>

<%= render :partial => 'menus/products', :layout => false %>