<%
@page_title = "Glass Bead"
@description = "Glass Bead product information from AAA Striping &amp; Seal Coating Service."
@keywords = "glass bead, "
@content_classes = " sidebarpush"
@mainmenu = 4
@sidebarmenu = 14
%>

<p>AAA Striping offers Alberta Transportation Approved Glass bead that meets all government specifications. Our Glass Bead is distributed by International Striping Products. We offer both Coated glass bead and uncoated glass bead. If you are interested in receiving more information or a quote about our glass bead product, please contact us.</p>

<%= render :partial => 'menus/products', :layout => false %>