<%
@page_title = "Highway Beacon"
@description = "Highway Beacon service information from AAA Striping &amp; Seal Coating Service."
@keywords = "highway, beacon, marking, "
@content_classes = " sidebarpush"
@mainmenu = 3
@sidebarmenu = 13
%>

<p>The Highway Beacon is a raised pavement marking device system with a patented design which provides a snowplow-able marking with wet night visibility. The high profile reflector decompresses below the road surface upon impact then springs back up unharmed!</p>

<h3>Why Choose the Highway Beacon?</h3>

<ul>
  <li>The Highway Beacon provides high profile 3M reflective lenses that give drivers great lane delineation in wet or dry conditions. Available in white, yellow, red and blue.
  <li>Snowplow blades do not damage the Highway Beacon, nor are the blades damaged by the impact.
  <li>Patented feature prevents freezing from ice and melting or freezing snow.
  <li>The motoring public will notice a strong audio warning when changing lanes.
  <li>The shock absorbing decompressable design minimizes tire impact on the reflective surface of the beacon — negating the effect of dirt, salt and other roadway abrasives.
</ul>

If the Highway Beacon interests you, please don't hesitate to <a href="/contacts">contact us</a>.

<%= render :partial => 'menus/services', :layout => false %>