<%
@page_title = "Parking Lot Maintenance"
@description = "Parking Lot Maintenance service information from AAA Striping &amp; Seal Coating Service."
@keywords = "parking lot, maintenance, line painting, "
@content_classes = " sidebarpush"
@mainmenu = 3
@sidebarmenu = 21
%>

<p>AAA Striping starting painting parking lots in the Edmonton area in 1981! for 15 years parking lot striping &amp; maintenance was our bread and butter and we will never fade away from this.</p>

<h4>Our Services</h4>

<ul>
  <li>Parking Lot &amp; Parkade Lay-out</li>
  <li>Parking Line Painting</li>
  <li>Curb Painting</li>
  <li>Tennis/Basketball court layout &amp; line painting</li>
  <li>Numbering &amp; Lettering of all sizes</li>
  <li>Assortment of Message markings- Crosswalks, Arrows, Handicap, No Parking, etc.</li>
  <li>Parking Lot Sweeping: Small Sweeper &amp; Street Sweeper</li>
  <li>Snow Removal: Tandem Snow Plow Truck, Bobcat, Dump Truck, Back Back Blowers</li>
</ul>

<p>We can offer year round parking lot maintenance that includes snow removal, sanding/salting in the winter, cleanup in the spring we and by painting of fresh parking lot lines.</p>

<p>In our efforts to come up with the best striping and parking lot services we have developed a policy of providing prompt service and quality workmanship at very reasonable rates.</p>

<p>Contact us for a free quote today!</p>

<%= render :partial => 'menus/services', :layout => false %>