<%
@page_title = "Line Removal"
@description = "Line Removal service information from AAA Striping &amp; Seal Coating Service."
@keywords = "line removal, pavement, "
@content_classes = " sidebarpush gallerypull"
@mainmenu = 3
@sidebarmenu = 16
%>

<p>AAA Striping offers a wide variety of pavement marking eradicators. Our equipment ranges from small hand line removers and small ride-on removers to larger self propelled removers with high speed capability.</p>

<p>Our large self propelled high speed remover has a full flotation design that is capable of removing 4 to 8 inches on one pass. This unit also has the ability to remove lines at speeds up to 4-5 km/h.</p>

<p>We also do Sand Blasting Line Removal.</p>

<h3>Line Removal Projects</h3>
<p>Some of the locations we have performed line removal on include:</p>

<ul>
  <li>RHwy 16 East end of Edmonton's Yellow Head Trail</li>
  <li>Hwy 63 in Ft. McMurray</li>
  <li>Hwy 1 Trans Canada by Strathmore</li>
  <li>Hwy 43 North of Fox Creek</li>
  <li>Hwy 9 close to Drumheller</li>
</ul>

<h3>Removable Surface Markings</h3>

<p>AAA Striping removes all types of surface markings, including:</p>

<ul>
  <li><a href="/services/line-painting">Paint</a></li>
  <li><a href="/services/hot-thermoplastic">Thermoplastic</a></li>
  <li>Epoxy</li>
  <li>MMA</li>
</ul>

<div id="gallery">
  <h3>Photos</h3>
  <ul>

    <li>
      <a rel="lightbox[line]" href="/images/photos/lineremoval/lineremove_01.jpg">
        <img src="/images/photos/lineremoval/lineremove_01_thumb.jpg" height="70" width="70">
      </a>
    </li>

    <li class="last">
      <a rel="lightbox[line]" href="/images/photos/lineremoval/lineremove_02.jpg">
        <img src="/images/photos/lineremoval/lineremove_02_thumb.jpg" height="70" width="70">
      </a>
    </li>

    <li>
      <a rel="lightbox[line]" href="/images/photos/lineremoval/lineremove_03.jpg">
        <img src="/images/photos/lineremoval/lineremove_03_thumb.jpg" height="70" width="70">
      </a>
    </li>

    <li class="last">
      <a rel="lightbox[line]" href="/images/photos/lineremoval/lineremove_04.jpg">
        <img src="/images/photos/lineremoval/lineremove_04_thumb.jpg" height="70" width="70">
      </a>
    </li>

  </ul>
</div>

<%= render :partial => 'menus/services', :layout => false %>