<%
@page_title = "AquaFlex Intermix"
@description = "AquaFlex Intermix service information from AAA Striping &amp; Seal Coating Service."
@keywords = "aquaflex, intermix, "
@content_classes = " sidebarpush"
@mainmenu = 3
@sidebarmenu = 12
%>

<p>The AquaFlex System is a specialized application technique used to apply a thick durable spray plastic along with a patented bead delivery system. This patented system allows lines to retain higher retro reflectivity overtime as the marking ages.</p>

<p>Patented under EP No. 0 280 102, this application technique uses high speed application with standard equipment (10-15 km/h).</p>

<h3>Where to Use AquaFlex Intermix PLR-Cold Plastic (MMA)</h3>

<ul>
  <li>Roads with high volumes of traffic</li>
  <li>Intersections with high traffic</li>
  <li>Unlit country roads</li>
  <li>Roads prone to mist or fog</li>
  <li>Accident "black" spots</li>
  <li>Pedestrian crossing</li>
  <li>No Parking zones</li>
  <li>Parking lots</li>
  <li>Any roadway requiring a long lasting pavement marking</li>
</ul>

<%= render :partial => 'menus/services', :layout => false %>