<%
@page_title = "Suppliers"
@description = "Suppliers that work with AAA Striping &amp; Seal Coating Service."
@keywords = "plastiroute, cleanosol, general paint, ennis paint, "
@mainmenu = 5
%>

<ul id="suppliers">
  <li>
    <a href="http://www.plastiroute.de" target="_blank">
      <img src="/images/plastiroute-logo_321x99.jpg" width="321" height="99" alt="Plastiroute">
    </a>
  </li>
  <li>
    <a href="http://www.cleanosol.com" target="_blank">
      <img src="/images/cleanosol-logo_250x70.jpg" width="250" height="70" alt="Cleanosol">
    </a>
  </li>
  <li>
    <a href="http://www.generalpaint.com" target="_blank">
      <img src="/images/generalpaint-logo_277x54.jpg" width="277" height="54" alt="General Paint">
    </a>
  </li>
  <li>
    <a href="http://www.ennispaint.com" target="_blank">
      <img src="/images/ennispaint-logo_176x100.jpg" width="176" height="100" alt="Ennis Paint">
    </a>
  </li>
</ul>