<%
@page_title = "DOTFLEX MMA Cold Plastic"
@description = "DOTFLEX MMA Cold Plastic information from AAA Striping &amp; Seal Coating Service."
@keywords = "wet, night, visibility, dotflex, "
@content_classes = " sidebarpush gallerypull"
@mainmenu = 3
@sidebarmenu = 20
%>

<h4>Product Information</h4>

<ul>
  <li>Available in various spectra of color tones</li>
  <li>Solvent free</li>
  <li>Pure acrylic binder system</li>
  <li>No toxic heavy materials or composition with said metals</li>
  <li>Dry time CP< 20 minutes, CSP < 10 minutes by 20 degrees Celsius</li>
  <li>Application temperature range sub zero to 50 degrees Celsius</li>
  <li>Activated with BPO (powder or liquid)</li>
</ul>

<h4>Advantages</h4>

<ul>
  <li>increased visibility during day and night</li>
  <li>Very good visibility in wet road conditions at night</li>
  <li>Fast &amp; easy application with 5000kg capacity cold plastic striping machine</li>
  <li>Installed with proven European technology</li>
  High economic value</li>
</ul>

<p>AAA Striping has exclusive rights to supply and apply all Plastiroute products and currently has installed all the PLR Cold Plastic in Saskatchewan and Alberta.  Here is a complete list of locations that this product has been installed in:</p>

<ul>
  <li>7 Km of Dir. Dividing & 2 Edge Lines  at Nexen/Long Lake Project Close to Ft. McMurray</li>
  <li>3 km of Lane Dividing and 2 Edge Lines On Hwy 16 east bound before Hwy 21 over pass</li>
</ul>

<div id="gallery">
  <h3>Photos</h3>
  <ul>

    <li>
      <a rel="lightbox[line]" href="/images/photos/dotflex/dotflex_01.jpg">
        <img src="/images/photos/dotflex/dotflex_01_thumb.jpg" height="70" width="70">
      </a>
    </li>

    <li class="last">
      <a rel="lightbox[line]" href="/images/photos/dotflex/dotflex_02.jpg">
        <img src="/images/photos/dotflex/dotflex_02_thumb.jpg" height="70" width="70">
      </a>
    </li>

    <li>
      <a rel="lightbox[line]" href="/images/photos/dotflex/dotflex_03.jpg">
        <img src="/images/photos/dotflex/dotflex_03_thumb.jpg" height="70" width="70">
      </a>
    </li>

    <li class="last">
      <a rel="lightbox[line]" href="/images/photos/dotflex/dotflex_04.jpg">
        <img src="/images/photos/dotflex/dotflex_04_thumb.jpg" height="70" width="70">
      </a>
    </li>

    <li>
      <a rel="lightbox[line]" href="/images/photos/dotflex/dotflex_05.jpg">
        <img src="/images/photos/dotflex/dotflex_05_thumb.jpg" height="70" width="70">
      </a>
    </li>

    <li class="last">
      <a rel="lightbox[line]" href="/images/photos/dotflex/dotflex_06.jpg">
        <img src="/images/photos/dotflex/dotflex_06_thumb.jpg" height="70" width="70">
      </a>
    </li>

    <li>
      <a rel="lightbox[line]" href="/images/photos/dotflex/dotflex_07.jpg">
        <img src="/images/photos/dotflex/dotflex_07_thumb.jpg" height="70" width="70">
      </a>
    </li>

    <li class="last">
      <a rel="lightbox[line]" href="/images/photos/dotflex/dotflex_08.jpg">
        <img src="/images/photos/dotflex/dotflex_08_thumb.jpg" height="70" width="70">
      </a>
    </li>

  </ul>
</div>

<%= render :partial => 'menus/services', :layout => false %>